body{
    font-family:'Trebuchet MS';
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    background-color: #333;
    padding:0;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #555;
    color:cyan;
}
.dropdown{
    padding: 14px 20px;
    position:relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    border-radius: 5px;
    top:45px;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #555;
    color:cyan;
}

.dropdown:hover .dropdown-content {
    display: block;
}